extends layout

block content
    .container
        #login
            form(method='post')
                div
                    input(type='text', name='query')
                    input(type='submit', value='Search')