body {
  padding: 0;
}
font: 14px"Lucida Grande",
Helvetica,
Arial,
sans-serif,
a {
  color: #0069ff;
}
#logo {
  text-align: center;
}
#userbar {
  margin-bottom: 10px;
}
.container {
  width: 450px;
  margin: 0 auto;
  padding: 40px 20px;
  background: #fff;
}
.feature {
  clear: both;
}
